<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/infor.css') }}"
    />

    <title>The Coca-Cola</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="#">
          <img
            src="{{ url_for('static', filename='img/coca-cola-company-black-logo.svg') }}"
            alt=""
            class="center"
          />
        </a>
      </div>
    </div>

    <div class="nav d-flex justify-content-center">
      {%for item in navbar%}
      <div class="nav-item">
        {%if item == "Coca-Cola Việt Nam"%}
        <a href="{{ url_for('infor') }}">{{item}}</a>
        {%else%}
        <a href="#">{{item}}</a>
        {% endif %}
      </div>
      {% endfor %}
      <a href=""><i class="fas fa-search"></i></a>
    </div>

    <section class="banner">
      <div
        class="banner-content d-flex align-items-center justify-content-center"
      >
        <h1>{{title}}</h1>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-12 text-container">
            <h3 class="text">{{content1}}</h3>
          </div>
          <div class="col-6">
            <h3>{{content2}}</h3>
            <p>{{sub_content2}}</p>
          </div>
          <div class="col-6">
            <img
              src="{{ url_for('static', filename='img/coca-cola-jacobs-pharmacy.jpeg') }}"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              src="{{ url_for('static', filename='img/vn-vi-our-company-card-2-image-desktop.jpeg') }}"
              alt=""
            />
          </div>
          <div class="col-6">
            <h3>{{content3}}</h3>
            <p>{{sub_content3}}</p>
          </div>

          <div class="col-6">
            <h3>{{content4}}</h3>
            <p>{{sub_content4}}</p>
          </div>

          <div class="col-6">
            <img
              src="{{ url_for('static', filename='img/vn-vi-company-desktop-3.jpeg') }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="container">
        <div class="f-content d-flex justify-content-between">
          <div class="left">
            <img
              src="{{ url_for('static', filename='img/coca-cola-company-black-logo.svg') }}"
              alt=""
            />
            <p class="coppyright">{{coppyright}}</p>
          </div>
          <div class="right">
            <ul>
              {%for item in footer%}

              <li><a href="#">{{item}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
